<%-include('../cabecalho.ejs')%>
<h1>Adicionar Tipo de Quarto</h1>
<div>
    <a href="/tipquarto/lst" class="btn">Listar Tipos</a>
</div>
<div>
    <form method="post" enctype="multipart/form-data">
        <label>Nome:</label>
        <input type="text" name="nome" required><br>
        
        <label>Descrição:</label>
        <textarea name="descricao" rows="4" required></textarea><br>
        
        <label>Imagem:</label>
        <input type="file" name="img" accept="image/*"><br>

        <button type="submit" class="btn">Cadastrar</button>
    </form>
</div>
<%-include('../rodape.ejs')%>
