<%-include('../cabecalho.ejs')%>
<h1>Adicionar Cliente</h1>
<div>
    <a href="/cliente/lst" class="btn">Listar Clientes</a>
</div>
<div>
    <form method="post">
        <label>Nome:</label>
        <input type="text" name="nome" required><br>
        
        <label>Data Nascimento:</label>
        <input type="date" name="dataNascimento" required><br>
        
        <label>Endereço:</label>
        <input type="text" name="endereco" required><br>
        
        <label>Telefone:</label>
        <input type="text" name="telefone" required><br>
        
        <label>CPF:</label>
        <input type="text" name="cpf" required><br>
        
        <label>Senha:</label>
        <input type="password" name="senha" required><br>

        <button type="submit" class="btn">Cadastrar</button>
    </form>
</div>
<%-include('../rodape.ejs')%>
